@keyframes slideInLeft {
    0% {
        transform: translateX(-25%);
        opacity: 0
    }

    50% {
        transform: translateX(-10%);
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

.quesHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.qnCont {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-shadow: 0 0 25px #82858c
}

.visual-card .options,
.visual-card .question {
    padding: 1.5rem 2rem
}

.visual-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 35rem
}

.visual-card .qNo {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px 3px 0 0;
    background: #515f7d;
    width: 100%;
    border-bottom: 1px solid #82858c;
    color: #fff;
    margin: 0;
    padding: 0
}

.visual-card ul li {
    list-style: none;
    border: 1px solid #82858c;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    width: 30rem
}

.visual-card .question {
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #515f7d
}

.saveButton {
    width: 100%;
    margin-top: 4rem;
    text-align: center
}

.controllQuizHeader button,
.options div button {
    border: 0;
    background-color: #515f7d;
    border-radius: 3px
}

.options div button {
    padding: 10px;
    width: 5rem
}

.options li input {
    margin-right: 1rem
}

.options li {
    color: #82858c
}

.nextButton,
.prevButton {
    height: 2.5rem;
    text-align: center;
    border: 0;
    border-radius: 3px
}

.prevButton {
    width: 6rem
}

.nextButton {
    width: 7rem;
    background-color: #515f7d
}

.prevButton {
    color: #fff;
    background: #82858c
}

.visualForm2 {
    min-height: 100vh;
    margin-top: 0
}

.controllQuizHeader {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3.5rem;
    color: #82858c;
    border-bottom: 1px solid #b3b6bc;
    align-items: center
}

.controllQuizHeader span {
    font-size: 1.2rem;
    color: #515f7d
}

.controllQuizHeader button {
    width: 6rem;
    height: 2.7rem;
    color: #fff
}

.answere{
    color: #515f7d;
    font-size: 1rem;
    font-weight: 500;
}
.answere span{
    color: green;
    margin-left: 0.3rem;
}

@media screen and (max-width:992px) {
    .visual-card ul li {
        width: auto
    }

    .options ul {
        padding-inline-start: 0
    }

    .visual-card {
        min-height: auto
    }

    .question p {
        font-size: 1rem
    }

    .options li {
        font-size: .85rem
    }

    .visual-card .question {
        padding: 0
    }

    .qnCont {
        max-width: 20rem
    }
}